body{margin:0}
.father
{
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}
.item1
{
    width: 600px;
    height: 100px;
    background:lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2
{
    width: 450px;
    height:200px;
    background:gray;
    display: flex;
    flex-wrap: wrap;
}
.item3
{
    width:150px;
    height:200px;
    background:darkgray;
    display: flex;
    align-items: center;
    justify-content: center;

}
.b
{
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c
{
    width:150px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
