body{margin: 0}
.main
{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 600px;
    width: 300px;
    background: #495252;
}
.item1
{
    width:300px;
    height: 450px;
    background: #0fa5e5;
    display: flex;
    flex-wrap: wrap;
}
.c1
{
    width: 150px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c2
{
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2
{
    width:300px;
    height: 150px;
    background: #0d86b9;
    display: flex;
    flex-wrap: wrap;
}
.c3
{
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1
{
    color: floralwhite;
}

.c3> h1
{
    font-size: 12px;
}